#calendar-widget > .widget-layout .card-container {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-widget > .widget-layout .grid-container {
  display: grid;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  justify-content: center;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 246px), 1fr));
  justify-items: stretch;
}
