@media (max-width: 480px) {
  #calendar-widget > .widget-layout .event-card {
    width: 371px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
@media (min-width: 1025px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
