#calendar-widget > .widget-layout .event-card {
  flex: 1 1 auto;
  max-width: 371px;
  min-width: 246px;
  border-radius: 10px;
  overflow: hidden;
}

#calendar-widget > .widget-layout .event-card {
  background: var(--widget-bg, #f0f0f0);
  border-radius: 12px;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

#calendar-widget > .widget-layout .event-card:hover {
  box-shadow:
    5px 5px 10px var(--dynamic-color-100),
    -5px -5px 10px rgba(255, 255, 255, 0.8);
  transform: translateY(-3px);
}

@media (max-width: 550px) {
  #calendar-widget > .widget-layout .event-card {
    width: 371px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
@media (min-width: 1025px) {
  #calendar-widget > .widget-layout .event-card {
    width: 246px;
  }
}
