#calendar-widget > .widget-layout .result-panel {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
  min-height: 100px;
  flex: 1;
  height: 100%;
  padding: 0 24px;
}

#calendar-widget > .widget-layout .result-panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#calendar-widget > .widget-layout .result-panel-wrapper .button-container {
  width: 100%;
  padding: 16px 0;
}

#calendar-widget > .widget-layout .result-panel-wrapper .loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#calendar-widget > .widget-layout .loader-wrapper .skeleton-card-wrapper {
  width: 232px;
  height: 400px;
  margin: 0px 8px 32px 8px;
  padding: 16px;
  box-shadow: var(--primary-box-shadow);
  border-radius: lg;
  background-color: var(--primary-white-opaque);
}

#calendar-widget > .widget-layout .loader-wrapper > div {
  display: grid;
  justify-content: center;
  gap: 8px;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 820px) and (max-width: 1060px) {
  #calendar-widget > .widget-layout .loader-wrapper > div {
    padding: 0px;
    grid-template-columns: repeat(3, 246px);
  }
}

@media (max-width: 550px) {
  #calendar-widget > .widget-layout .loader-wrapper .skeleton-card-wrapper {
    width: 371px;
    margin: 0px 0px 16px 0px;
  }

  #calendar-widget > .widget-layout .loader-wrapper > div {
    padding: 0px;
    grid-template-columns: repeat(1, 246px);
  }
}

@media (min-width: 550px) and (max-width: 820px) {
  #calendar-widget > .widget-layout .loader-wrapper {
    max-width: 500px;
  }

  #calendar-widget > .widget-layout .loader-wrapper > div {
    padding: 0px;
    grid-template-columns: repeat(2, 246px);
  }
}

@media (min-width: 1060px) {
  #calendar-widget > .widget-layout .loader-wrapper > div {
    grid-template-columns: repeat(4, 246px);
  }
}
