#calendar-widget > .widget-layout .result-panel {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
  min-height: 100px;
  flex: 1;
  height: 100%;
  padding: 0 24px;
}

#calendar-widget > .widget-layout .result-panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#calendar-widget > .widget-layout .result-panel-wrapper .button-container {
  width: 100%;
  padding: 16px 0;
}

#calendar-widget > .widget-layout .result-panel-wrapper .loader-wrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  place-content: center;
}
