#calendar-widget .custom-dots {
  display: flex !important;
  justify-content: center;
  margin-top: 18px;
  padding: 0;
  list-style: none;
}

#calendar-widget .custom-dots li {
  display: inline-block;
  width: 14px;
  height: 4px;
  background-color: var(--primary-hover-grey);
  border-radius: 2px;
  margin: 0 3px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Ensure the active bullet is highlighted */
#calendar-widget .custom-dots li.slick-active {
  background-color: var(--dynamic-color-700);
}

/* Bullet hover effect */
#calendar-widget .custom-dots li:hover {
  background-color: var(--dynamic-color-100);
}

/* Hide button text and make bullets clickable */
#calendar-widget .custom-dot {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#calendar-widget .sponsor-carousel .slick-slide > div > div,
#calendar-widget .sponsor-carousel .slick-active > div > div,
#calendar-widget .sponsor-carousel .slick-current > div > div {
  display: grid !important;
  place-content: center;
  width: fit-content !important;
}

#calendar-widget .sponsor-carousel .slick-slide,
#calendar-widget .sponsor-carousel .slick-active,
#calendar-widget .sponsor-carousel .slick-current {
  padding: 0 10px;
  cursor: pointer;
}

#calendar-widget .slick-track > div:first-child {
  padding-left: 0px !important;
}

#calendar-widget .sponsor-carousel .slick-track,
#calendar-widget .sponsor-carousel .slick-list {
  height: 70px;
}

#calendar-widget .sponsor-carousel .slick-track {
  display: flex;
  align-items: center;
}
