# Logs
logs
*.log
npm-debug.log*

# build 

build/*

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# Optional eslint cache
.eslintcache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

