#calendar-widget > .widget-layout .result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  max-width: 639px;
  width: 100%;
}

#calendar-widget > .widget-layout .header-text {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 21.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#calendar-widget > .widget-layout .share-icon {
  color: #000000;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease;
}

#calendar-widget > .widget-layout .share-icon:hover {
  background-color: #f0f0f0;
}
