#calendar-widget .video-container {
  width: 100%;
  height: 208px;
  border-radius: 15px;
  overflow: hidden;
}

@media (min-width: 425px) {
  #calendar-widget .video-container {
    height: 338px;
  }
}

#calendar-widget .video-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
