#calendar-widget .share-tooltip .copy-link-icon > path {
  fill: var(--main-dynamic-color);
}

#calendar-widget #toast-footlite-share-popup-toast {
  background-color: var(--main-dynamic-color);
}

#calendar-widget #share-tooltip-icon-container *,
#calendar-widget .share-tooltip {
  z-index: 1;
}
