#calendar-widget > .widget-layout .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 60px;
}

#calendar-widget > .widget-layout .footer > .button-container {
  display: grid;
  place-content: center;
}
#calendar-widget > .widget-layout .footer > .button-container button {
  height: 32px;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  gap: 8px;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;

  background-color: var(--dynamic-color-600);
  color: var(--primary-white-opaque);
  border: none;
  z-index: 2;
}

#calendar-widget > .widget-layout .footer .provided-by-container {
  font-weight: var(--secondary-font-weight);
  color: var(--secondary-black);
  font-weight: 300px;
  line-height: 17.07px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

#calendar-widget > .widget-layout .footer .provided-by-container .calendar-logo {
  height: 27px;
  display: flex;
  justify-content: center;
}

#calendar-widget > .widget-layout .footer .provided-by-container .calendar-logo > img {
  height: 100%;
}
