#calendar-widget > .widget-layout .widget-search-bar {
  width: 100%;
  height: 40px;
  padding: 8px 8px 8px 44px;
  border-radius: 68px;
  border: 1px solid #b6c1c9;
  flex: 1;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#calendar-widget > .widget-layout .search-container {
  display: flex;
  width: 100%;
  position: relative;
}

#calendar-widget > .widget-layout .search-icon-container {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
}

#calendar-widget > .widget-layout .search-container .search-icon {
  width: 24px;
  height: 24px;
}

#calendar-widget > .widget-layout .search-container .search-icon > path {
  fill: var(--dynamic-color-600);
}

#calendar-widget > .widget-layout .search-container .clear-icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: grid;
  place-content: center;
}

#calendar-widget > .widget-layout .search-container .clear-icon {
  width: 21px;
  height: 21px;
}

#calendar-widget > .widget-layout .search-container .clear-icon path,
#calendar-widget > .widget-layout .search-container .filter-icon path {
  fill: var(--dynamic-color-600);
}

#calendar-widget > .widget-layout .search-container .filter-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: grid;
  place-content: center;
}

#calendar-widget > .widget-layout .search-container .filter-icon {
  width: 16px;
  height: 16px;
}
