#calendar-widget .error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: var(--dynamic-color-50);
  color: var(--primary-black);
  padding: 20px;
}

#calendar-widget .error-heading {
  font-size: 32px;
  font-weight: bold;
}

#calendar-widget .error-subtext {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

#calendar-widget .error-button {
  all: unset; /* Resetting default styles */
  display: inline-block;
  color: var(--primary-white-opaque);
  background-color: var(--main-dynamic-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid var(--main-dynamic-color);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#calendar-widget .error-button:hover {
  color: var(--primary-blue);
  border-color: var(--primary-hover-white);
  background-color: var(--primary-hover-white);
}
