#calendar-widget .error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--primary-white-opaque);
  text-align: center;
  gap: 18px;
  padding: 24px;
}

#calendar-widget .error-heading {
  font-size: 48px;
  color: var(--primary-black);
  font-weight: 700;
}

#calendar-widget .error-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-grey);
}

#calendar-widget .error-button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 20px;
  background-color: var(--main-dynamic-color);
  color: var(--primary-white-opaque);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

#calendar-widget .error-button:hover {
  color: var(--primary-blue);
  background-color: var(--primary-hover-white);
}
