#calendar-widget .widget-layout .social-icon:active {
  background: transparent;
}

@media (min-width: 768px) {
  .performer-card {
    width: 599px;
    height: 233px;
    flex-direction: row;
  }
}
