#calendar-widget {
  --primary-grey: #646d7b;
  --secondary-grey: #d8d8d8;
  --tertiary-grey: #b6c1c9;
  --grey-calendar: #9196a3;

  --primary-white: #ffffff01;
  --primary-white-opaque: #ffffff;

  --primary-black: #222732;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

#calendar-widget ul,
#calendar-widget li,
#calendar-widget p {
  all: unset;
  display: block;
}

#calendar-widget button,
#calendar-widget ul,
#calendar-widget li,
#calendar-widget p,
#calendar-widget span,
#calendar-widget input,
#calendar-widget div {
  font-family: var(--calendar-font-family);
}

#calendar-widget * :focus-visible {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
