#calendar-widget {
  --title-grey: #555555;
  --primary-grey: #646d7b;
  --secondary-grey: #b3b3b3;
  --tertiary-grey: #b6c1c9;
  --bg-grey: #f6f6f6;

  --primary-hover-white: #f0f0f0;
  --primary-white: #ffffff01;
  --primary-white-opaque: #ffffff;

  --primary-blue: #3d3ce1;

  --primary-black: #2d2b2b;
  --secondary-black: #000000cc;
  --tertiary-black: #1e1e1eb2;
  --transparant-black: #0d0d0d66;

  /*********** font ***********/

  --primary-font-weight: 19px;
  --secondary-font-weight: 16px;

  /*********** shadow ***********/

  --primary-box-shadow: 0px 4px 4px 0px #0000000d;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

#calendar-widget button,
#calendar-widget ul,
#calendar-widget li,
#calendar-widget p,
#calendar-widget span,
#calendar-widget input,
#calendar-widget div {
  font-family: var(--calendar-font-family);
}

#calendar-widget * :focus-visible {
  outline: none;
}

#calendar-widget > .widget-layout .filter-search-section .clear-search-icon > svg > path {
  fill: var(--dynamic-color-600);
}

#calendar-widget > .widget-layout .filter-search-section .search-icon > path {
  fill: var(--dynamic-color-600);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
